footer {
    background-color: black;
    width: 100%;
    height: 200px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer img {
    margin-left: 20%;
    margin-top: 7%;
    
}

footer a {
    margin-left: 30%;
    margin-top: 9%;
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}
