.grid {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    padding-left: 10%;
}

.map iframe {
    border: 3px solid transparent;
    border-radius: 5px;
}

.contact {
    padding-left: 20%;
}

.contact p {
    font-size: 1.5rem;
}
